/****************************
General
/****************************/
a  {
    text-decoration: none;
}
body{
    font-family: Open Sans;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}
img{
    max-width: 100%;
}
h3{
    margin: 0 0 1em 0;
}
/****************************
Header
/****************************/
header{
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}
#logo {
    /*our name and description of who we are.*/
    text-align: center;
    margin: 0;
}

h1{
    font-family: 'Bilbo', cursive;
    font-size: 2.6em;
}

h2{
    font-family: 'Bilbo', cursive;
    font-size: 2em;
    margin: -5px 0 0;
    font-weight: normal;
}
/****************************
Color
/****************************/

body{
    background-color: teal;
}

header {
    background: #ec6400;
   
    }

a{
    color: #000;
}

h1, h2 {
    color: #000;
}

nav {
    background: #ec9900;
}

nav a, nav a:visted{
    color:#999;
}

nav a.selected,nav a:hover {
    color: #999;
}

/****************************
Navigation
/****************************/
nav {
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
}
nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}
nav li {
    display: inline-block;
}
nav a{
    font-weight: 800;
    padding: 15px 10px;
}
/****************************
Footer
/****************************/
footer{
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
    color:#999; 
    clear:both;
}
.social-media {
    width: 20px;
    height: 20px;
    margin:0 5px;
}

/****************************
Page Portfolio
/****************************/
#gallery{
    margin: 0;
    padding: 0;
    list-style: none;
}

#gallery li{
    float: left;
    width: 45%;
    margin: 2.5%;
    background-color: teal;
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 1em;
    color: #999999;
}
/****************************
About me page
/****************************/
.profile-photo{
    display: block;
    max-width: 0 auto 30px;
    border-radius: 25%;
}
/****************************
Contact page
/****************************/


.contact-info{
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 0.9em;

}
      
   
   

.contact-info a {
 display:block;  
 min-height: 20px;
 background-repeat: no-repeat;
 background-size: 20px 20px;
 padding: 0 0 0 30px;
 margin: 0 0 10px;
}


.contact-info li.email a{
  background-image: url('../images/gmail.png');
}


.contact-info li.Instagram a{
   background-image: url('../images/insta.png');
}
/****************************
Media querie
/****************************/
@media screen and (min-width:480px) {
    #primary{
        width: 50%;
        float: left;
    }
    #secondary{
        width: 40%;
        float: right;
    }
    #gallery li{
        width: 28.3333%;
    }
    #gallery li:nth-child (4n){
        clear: left;
    }
    .profile-photo{
        float: left;
        margin: 0 5% 80px 0;
    }
}
@media screen and (min-width: 660px){
    nav{
        background: none;
        float: right;
        font-size: 1.125em;
        margin-right: 5%;
        text-align: right;
        width: 45%;
    }
    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.8253m;
        margin-bottom: 20px;
    }
}